body {
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
}

div {
    width: 100%;
}

.rojo {
    height: 150px;
    background-color: red;
}

.blanco {
    height: 150px;
    background-color: white;
}

.verde {
    height: 150px;
    background-color: green;
}

h1 {
    text-align: center;
}